/* CSS para el html del ejercicio */

/* General*/
body{
    background: radial-gradient(circle, rgb(247, 221, 232) 0%, rgba(148,187,233,1) 100%);
    width: 80%;
    margin: auto;
}

/* Selectores */

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 4px;
    color: rgb(37, 13, 92);
    text-shadow: 1px 2px 1px rgb(228, 229, 235);
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(37, 13, 92);
    text-shadow: 1px 2px 1px rgb(228, 229, 235);
    line-height: 0px;
}

h3{
    font-family:  Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    color: #184477;
    text-shadow: 2px 2px 2px rgb(90, 129, 173);
    text-align: left;
}



p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    word-spacing: -3px;
    color: rgb(36, 44, 161);
    text-shadow: 1px 2px 1px rgb(228, 229, 235);
}

a{
    text-decoration: none;
}


/* Etiquetas */

table{
    float: left;
    width: 40%;
}

table th{
    border: 2px solid rgb(63, 56, 153);
    background: radial-gradient(circle, rgb(174, 189, 238) 0%, rgb(37, 102, 175) 100%);
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

table td{
    border: 1px solid rgb(63, 56, 153);
    background: radial-gradient(circle, rgb(174, 189, 238) 0%, rgb(242, 242, 247) 100%);
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

table caption{
    font-family:  Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    color: #184477;
    text-shadow: 2px 2px 2px rgb(90, 129, 173);
    text-align: left;
    text-decoration: none;
}

section{
    float: right;
    width: 40%;
    margin-top: 5%;
}

ul{
    width: 60%;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgb(113, 160, 214);
}

ul li{
    font-weight: 600;
    font-size: 22px;
    list-style: none;
}

ul:first-child{
    color:rgb(31, 45, 83);
}

ul li ul::first-line{
    text-decoration: underline;
}

ul li ul li{
    list-style: square;
}

form{
    float: left;
    width: 90%;
    background: radial-gradient(circle, rgb(223, 211, 216) 0%, rgb(37, 102, 175) 100%);
    margin-bottom: 40px;
    padding: 30px;
    overflow: hidden;
}

form h3{
    color: antiquewhite;
    text-shadow: 1px 2px 1px black;
}

form label{
    display: block;
    margin-bottom: 2px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(14, 27, 63);
}

form input{
    display: inline-block;
    box-shadow: 2px 1px 2px black;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
}

form textarea{
    box-shadow: 2px 1px 2px black;
    font-size: 12px;
    margin-left: 15px;
}

img{
    display: inline-block;
    width: 300px;
    margin-left: 65%;
}



/* Pseudoclases */

a h1:hover{
    color: #3671B7;
}

a h3:hover{
    color: #3671B7;
}


/* ID */

#clearboth{
    clear: both;
}

#enviar{
    display: block;
    margin-left: 15px;
    font-size: 18px;
    background-color: rgb(14, 27, 63);
    color: aliceblue;
}

#t2{
    width: 50%;
    float: left;
    margin-bottom: 80px;
}